{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "targets": { "chrome": "55" } /* chrome 55 이상으로 지정 */
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "extensions": [".ts"],
        "root": ["."],
        "alias": {
          "@util": "./src/util",
          "@type": "./src/types"
          "@": "./src"
        }
      }
    ]
  ]
}
